<% include header.ejs %>

    <% include article_template.ejs %>
        </div>
    </div> 

    <%if (article.full === true) { %>
        <a name="comments"></a>
        <div id="comment-header">
            Comments
        </div>

        <%for (var i in article.comments) { %>

            <%if (article.comments[i]['created_at']) { %>
                <div class="article-metadata">
                    <span class="created_at">Posted &nbsp;  
                        <%- ('00' + article.comments[i]['created_at'].getDate()).slice(-2)       + '-' + 
                           ('00' + (article.comments[i]['created_at'].getMonth() + 1)).slice(-2) + '-' + 
                            article.comments[i]['created_at'].getFullYear() %>
                    </span>
                </div>
            <% } %>

            <div class="article-comment" id="<%- article.comments[i]._id %>">
                <span class="leave-comment-prompt"><%- article.comments[i].user %> said:</span>
                <div class="comment-content-concrete">
                    <%- article.comments[i]._id     %> (Development guid)<br>
                    <%- article.comments[i].content %>
                    <br>
                    <br>
                    <div class="comment-reply-link" id="<%- article.comments[i]._id %>">
                        Reply
                    </div>
                </div>
            </div>
        <% } %>

        <div class="article-comment leave-comment">
            <form class="comment-form" action="/blog/comment/<%= article._id %>" method="POST">
                <input type="hidden" name="_id" value="<%- article._id %>">
                <span class="leave-comment-prompt">Leave a reply</span>
                <br>
                <textarea class="comment-content" id="comment-content" name="content" title="Enter your comment here..." placeholder="Enter your comment here..."></textarea>
                <input class="comment-field" id="comment-name" type="text" name="name" placeholder="Name (required)" hidden></input>
                <br class="comment-field" hidden>
                <input class="comment-field" id="comment-email" type="text" name="email" placeholder="Email (required)" hidden></input>
                <br class="comment-field" hidden>
                <input class="comment-field" type="checkbox" name="notify" hidden>
                    <span class="comment-field" style="font-size:12px" hidden>Notify me of replies</span>
                </input>
                <br class="comment-field" hidden>
                <br class="comment-field" hidden>
                <input class="comment-field" type="submit" name="submit" title="Post" id="comment-submit" hidden></input>
            </form>
            <div id="comment-error" hidden>
            </div> 
        </div>
    <% } %>

<% include footer.ejs %>
