<% include header.ejs %>

<% articles.forEach(function (article) { %>
    <div class="article">
        <a class="article-title" href="/blog/id/<%= article._id %>">
            <%= article.title %>
        </a>
        
        <div class="article-content">
            <span class="created-at">Created 
                <%- article.created_at.getDate()       + '-' + 
                   (article.created_at.getMonth() + 1) + '-' + 
                    article.created_at.getFullYear() %>
            </span>
            <%- article.body.substr(0, 500) + '...' %>
            <div class="read-more-container">
                <a class="read-more" href="/blog/id/<%= article._id %>">Read more...</a>
            </div>
        </div>
    </div> 
<% }) %>

<% include footer.ejs %>
