<% include ../header.ejs %>

    <div class="article" style="padding-top:0;">
        <div class="article-content">
            <hr>
        </div>
    </div>

    <% include article_template.ejs %>
        </div>
    </div>

    <%if (article.full === true) { %>
        <a name="comments"></a>
        <div id="comment-header">
            Comments
        </div>

        <%for (var i = 0, j = article.comments.length; i < j; ++i) { %>

            <%if (article.comments[i]['date']) { %>
                <div class="article-metadata">
                    <span class="date">Posted &nbsp;
                        <%- ('00' + article.comments[i]['date'].getDate()).slice(-2)       + '-' +
                           ('00' + (article.comments[i]['date'].getMonth() + 1)).slice(-2) + '-' +
                            article.comments[i]['date'].getFullYear() %>
                    </span>
                    <br>
                    <%if (article.comments[i].replies.length > 0) { %>
                        <span class="date"><%- article.comments[i].replies.length %> Repl<%- article.comments[i].replies.length === 1 ? 'y' : 'ies' %>
                    <% } %>
                    </span>
                </div>
            <% } %>

            <div class="article-comment" id="<%- article.comments[i]._id %>">
                <img class="comment-picture" src=<%- article.comments[i].gravatar %>>
                <div class="leave-comment-prompt"><span class="user-name"><%- article.comments[i].user %></span> - </div>
                <div class="comment-rest">
                    <span class="comment-content-concrete">
                        <%- article.comments[i].body %>
                    </span>
                </div>
            </div>
            <hr>
        <% } %>

        <div class="article-comment leave-comment">
            <form class="comment-form" action="/blog/comment/<%= article._id %>" method="POST">
                <input type="hidden" name="_id" value="<%- article._id %>">
                <span class="leave-comment-prompt">Leave a reply</span>
                <br>
                <textarea class="comment-content" id="comment-content" name="content" title="Enter your comment here..." placeholder="Enter your comment here..."></textarea>
                <input class="comment-full comment-field" id="comment-name" type="text" name="user" placeholder="Name (required)" hidden></input>
                <br class="comment-field" hidden>
                <input class="comment-full comment-field" id="comment-email" type="text" name="email" placeholder="Email (required)" hidden></input>
                <br class="comment-field" hidden>
                <input  class="comment-field" type="submit" name="submit" title="Post" id="comment-submit" hidden></input>
            </form>
            <div id="comment-error" hidden>
            </div>
        </div>
    <% } %>

<% include ../footer.ejs %>
